body{
    
    background: url(/images/22.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    
}

.data{

    width: 400px;
    height: 150px;
    background: black;
    border-radius: 12px;
    padding: 60px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 20px 20px;
    margin-bottom: 50px;

}

.data div {
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.data p {
    font-size: 100px;
    color: white;
}




.relogio{

    width: 600px;
    height: 200px;
    background: white;
    border-radius: 12px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 30px 30px 20px;
}

.relogio div {

    background: black;
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.relogio p{
    font-size: 150px;
}

